*.txt
*.spec
*.toc
*.pkg
*.zip
*.pyz
*.exe
*.html
venv
venv310
build/AssistenteRelease/localpycs/pyimod01_archive.pyc
build/AssistenteRelease/localpycs/pyimod02_importers.pyc
build/AssistenteRelease/localpycs/pyimod03_ctypes.pyc
build/AssistenteRelease/localpycs/pyimod04_pywin32.pyc
build/AssistenteRelease/localpycs/struct.pyc
old/automation_old.py
old/highlighter_old.py
old/main_old.py
src/__pycache__/automation.cpython-310.pyc
src/__pycache__/automation.cpython-313.pyc
src/__pycache__/highlighter.cpython-310.pyc
src/__pycache__/highlighter.cpython-313.pyc
src/__pycache__/ui_constants.cpython-310.pyc
src/__pycache__/ui_constants.cpython-313.pyc
